.postBtn {
  padding: 4px 6px !important;
  margin-left: 20px;
}

.postTitle{
  font-size: 16px;
  color: #b2c9e4;
}

.navBtn{
  margin-bottom: 15px;
}

.navBtn:hover {
  box-shadow: none !important;
}

.rs-nav-item {
  padding: 0;
}
