.fullPostTitle {
  margin-bottom: 20px;
  color: #b2c9e4;
}

.buttonsWrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.commentName {
  color: #e08e00;
  margin-bottom: 10px;
}

.commentEmail {
  color: #4b4bab;
}
